<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>532188678946-2f3odthm0rj27q1vff8lnkko8epqkqqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532188678946-2f3odthm0rj27q1vff8lnkko8epqkqqh</string>
	<key>API_KEY</key>
	<string>AIzaSyAYpmhAmLHaP_Q-4EOKI1CpS5aQZiFZzR0</string>
	<key>GCM_SENDER_ID</key>
	<string>532188678946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Mat-Stats</string>
	<key>PROJECT_ID</key>
	<string>matstats-caa3b</string>
	<key>STORAGE_BUCKET</key>
	<string>matstats-caa3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:532188678946:ios:cab650e49bca573d</string>
	<key>DATABASE_URL</key>
	<string>https://matstats-caa3b.firebaseio.com</string>
</dict>
</plist>
